.text {
    float: left;
}

.text h1 {
    font-size: 22px;
    margin-top: 50px;
    margin-left: 65px;
    font-weight:bold ;
}

@media (max-width: 768px) {
    .text h1 {
        font-size: 18px;
    }
}
.card{
    position: relative;
    margin-top: 15px;

}
p1{
    position: absolute;
    margin-top: -39px;
    margin-left: 45px;
}