.text {
    float: left;
}

.text h1 {
    font-size: 22px;
    margin-top: 50px;
}

@media (max-width: 768px) {
    .text h1 {
        font-size: 18px;
    }
}
.card{
    position: relative;
    margin-top: 90px;
    margin-left: 140px;
}
p1{
    position: absolute;
    margin-top: -39px;
    margin-left: 45px;
}