<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  layout:decorate="LayoutPage.html">
<div layout:fragment="content">
    <div class="container">
        <div class="text">
            <h1>Поиск по типу размещения</h1>
        </div>
    </div>
</div>
<div layout:fragment="content2">
    <div class="container" style="display: flex;
    flex-wrap:wrap;position: relative;justify-content: center;">
            <div class="card" style="width: 15rem; height: 17rem; margin-left: 10px" th:each="apt : ${apartments}">
                <a th:href="@{'/hotels/'+ ${apt.id}}" style="display: flex;flex-wrap: wrap">
                    <img th:src="@{'/images/57584488.jpeg'}"  class="card-img-top" alt="Apartment Image">
                    <div class="card-body">
                    <h5 class="card-title" style="color: #0d0303;font-size: 18px;"
                        th:text="${apt.title}"></h5>
                    <p class="card-text" style="color: darkgray;font-size: 15px;width:20%"
                       th:text="${hotelCount}"></p><p1 style="font-size: 15px;color: darkgray">Отелей</p1>
                </div>
                </a>
            </div>
    </div>
</div>
</html>