<!DOCTYPE html>
<html  xmlns:th = "http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	   xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="utf-8">
	<title>Sign in/Sign up</title>
	<link rel="stylesheet"  type="text/css" th:href="@{'/css/signIn.css'}" media="screen">
	<script type="text/javascript" th:src="@{'/js/notification.js'}" media="screen"></script>
	<link rel="stylesheet"
		  th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
</head>
<body>
<ul>
	<li><h4>Stayhub.com</h4></li>
	<li class="siteContent">
		<img th:src="@{'/images/KZ.png'}" alt="Описание картинки"  onclick="showOptions()">
		<div id="options" style="display: none; margin-left: 80%; background-color:ghostwhite;
				padding: 20px;border-radius: 15px;">
			<select id="param1" class="custom-select">
				<option value="значение1">Русский</option>
				<option value="значение2"> Казахский</option>
				<option value="значение3">Английский</option>
			</select>
		</div>
	</li>
</ul>
<!-- HTML-код для отображения уведомлений -->
<div id="notificationAuthError" class="alert alert-danger alert-white rounded" th:if="${param.AuthError!=null}">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true"
			onclick="closeNotification('notificationAuthError')">&times;</button>
	<div class="icon"><i class="fa fa-times-circle"></i></div>
	<strong>Error!</strong> Incorrect email or password!
</div>

<div id="notificationEmailError" class="alert alert-success alert-white rounded" th:if="${param.success!=null}">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true"
			onclick="closeNotification('notificationEmailError')">&times;</button>
	<div class="icon"><i class="fa fa-check"></i></div>
	<strong>Success!</strong> Changes have been saved successfully!
</div>
<div id="notificationPasswordError" class="alert alert-warning alert-white rounded" th:if="${param.passwordError!=null}">
	<button type="button" onclick="closeNotification('notificationPasswordError')"
			class="close" data-dismiss="alert" aria-hidden="true">×</button>
	<div class="icon"><i class="fa fa-warning"></i></div>
	<strong>Alert!</strong> Password are not the same
</div>
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form method="post" th:action = "@{'/to-sign-up'}">
			<h1>Sign Up</h1>
			<div class="social-container">
				<a href="#" class="fa fa-facebook"></a>
				<a href="#" class="fa fa-twitter"></a>
			</div>
			<input type="text" placeholder="Name" name="user_full_name"/>
			<input type="email" placeholder="Email" name="user_email" />
			<input type="password" placeholder="Password" name="user_password" />
			<input type="password" placeholder="Repeat Password" name="user_repeat_password" />
			<label class="checkbox-container">
				<input type="checkbox">
				<span class="checkmark"></span>Remember me</label>
			<button>Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form method="post" th:action = "@{'/to-enter'}">
			<h1 style="font-family: Bahnschrift; color: white;
			 -webkit-text-stroke: 1.7px black;color: #26264d;">Sign In</h1>
			<hr>
			<div class="social-container">
				<a href="#" class="fa fa-facebook"></a>
				<a href="#" class="fa fa-twitter"></a>
				<a href="#" class="fa fa-instagram"></a>
				<a href="#" class="fa fa-whatsapp"></a>
			</div>
			<input type="email" placeholder="Email" name="user_email"/>
			<input type="password" placeholder="Password" name="user_password"/>
			<a href="#"><p1>Forgot your password?</p1></a>
			<button href style="background: #26264d;color: white; cursor: pointer;">Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">

				<h1 style="color: white;">Welcome Back!</h1>
				<p>To keep connected with us please login<br> with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1 style="color: white;">Please, write your information!</h1>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" th:src="@{'/js/sign.js'}"></script>
<script>
	function showOptions() {
		var optionsDiv = document.getElementById("options");
		if (optionsDiv.style.display === "block") {
			optionsDiv.style.display = "none";
			optionsDiv.style.position="absolute";
		} else { // В противном случае, открыть панель
			optionsDiv.style.display = "block";
			optionsDiv.style.position="absolute"
		}

		var productItems = document.getElementsByClassName("product-item");

		for (var i = 0; i < productItems.length; i++) {
			var productItem = productItems[i];

			// Добавляем обработчик события для каждого элемента товара
			productItem.addEventListener("click", function() {
				// Закрыть панель
				optionsDiv.style.display = "none";

				// Дополнительные действия при выборе товара...
			});
		}

	}
</script>

</body>
</html>